<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net45" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net45" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net45" />
  <package id="Microsoft.Expression.Drawing" version="3.0.0" targetFramework="net40" />
  <package id="MindFusion.Diagramming.Wpf" version="3.6.1" targetFramework="net45" />
  <package id="SQLite" version="3.13.0" targetFramework="net45" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.113.6" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.113.6" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net45" />
  <package id="Unnoficial.Microsoft.Expression.Drawing" version="1.0.0" targetFramework="net45" />
</packages>